* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1084px;
  min-width: 320px;
  padding: 15px 30px 15px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #36393f;
}

input[name="control"] {
  visibility: hidden;
}

.slider {
  width: 100%;
  height: 75%;
  margin: 0 auto;
  margin-top: -18px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px  #000000;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}