* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1084px;
  min-width: 320px;
  padding: 15px 30px 15px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #36393f;
}

input[name="control"] {
  visibility: hidden;
}

.slider {
  width: 100%;
  height: 75%;
  margin: 0 auto;
  margin-top: -18px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px  #000000;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s ease-in-out;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.controls {
  width: 100%;
  height: 40px;
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signatures__wrapper {
  width: 50%;
  height: 40px;
  overflow: hidden;
}

.signatures {
  width: 500%;
  height: 100%;
  display: flex;
  align-items: center;
}

.signature {
  display: block;
  width: 20%;
  padding-left: 1px;
  font-family: "Arial";
  font-size: 22px;
  color: #ffffff;
  transition: all .3s ease-in-out;
}

.bullets {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.bullet {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet__inner {
  display: block;
  width: 45%;
  height: 45%;
  border: 3px solid #71abfe;
  border-radius: 50%;
  background-color: #71abfe;
  transition: all .3s ease-in-out;
}

.bullet:hover {
  cursor: pointer;
}

.bullet:hover .bullet__inner {
  border: 3px solid #ffffff;
  background-color: #ffffff;
}

#sl1:checked ~ .slider .slides .active {
  margin-left: 0;
}

#sl2:checked ~ .slider .slides .active {
  margin-left: -20%;
}

#sl3:checked ~ .slider .slides .active {
  margin-left: -40%;
}

#sl4:checked ~ .slider .slides .active {
  margin-left: -60%;
}

#sl5:checked ~ .slider .slides .active {
  margin-left: -80%;
}

#sl1:checked ~ .controls .bullets label[for="sl1"] .bullet__inner {
  background-color: transparent;
  border: 3px solid #ffffff;
}

#sl2:checked ~ .controls .bullets label[for="sl2"] .bullet__inner {
  background-color: transparent;
  border: 3px solid #ffffff;
}

#sl3:checked ~ .controls .bullets label[for="sl3"] .bullet__inner {
  background-color: transparent;
  border: 3px solid #ffffff;
}

#sl4:checked ~ .controls .bullets label[for="sl4"] .bullet__inner {
  background-color: transparent;
  border: 3px solid #ffffff;
}

#sl5:checked ~ .controls .bullets label[for="sl5"] .bullet__inner {
  background-color: transparent;
  border: 3px solid #ffffff;
}

#sl1:checked ~ .controls .signatures__wrapper .signatures .active {
  margin-left: 0%;
}

#sl2:checked ~ .controls .signatures__wrapper .signatures .active {
  margin-left: -20%;
}

#sl3:checked ~ .controls .signatures__wrapper .signatures .active {
  margin-left: -40%;
}

#sl4:checked ~ .controls .signatures__wrapper .signatures .active {
  margin-left: -60%;
}

#sl5:checked ~ .controls .signatures__wrapper .signatures .active {
  margin-left: -80%;
}

@media (max-width: 853px) {
  .signature {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .controls {
    height: 70px;
    flex-direction: column-reverse;
  }

  .signatures__wrapper {
    width: 100%;
  }

  .bullets {
    width: 100%;
    justify-content: center;
  }

  .bullet__inner {
    width: 40%;
    height: 40%;
  }
}